body {
	margin: 0;
	text-align: center;
	font-family: Arial;
	background-color: #f9fafc;
}

.faixa-topo {
	background-color: rgb(27, 54, 93);
	height: 120px;
	position: relative;
	margin-bottom: 35px;
}

.univap-logo img {
	position: fixed;
	top: -55px;
	left: 10px;
	width: 230px;
}

.faixa-base {
	background-color: rgb(27, 54, 93);
	height: 120px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.login-text {
	font-weight: bold;
	font-size: 40px;
}

.email-barra input {
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 4px;
	border-style: solid;
}

.senha-barra {
	margin-top: 20px; 
  margin-bottom: 22px;
}

.senha-barra input {
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 4px;
	border-style: solid;
}

.login-button {
	background-color: rgb(182, 27, 27);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px 50px;
	box-shadow: 0px 4px 5px rgba(128, 128, 128, 30);
	transition: opacity 0.15s;
	cursor: pointer;
}

.login-button:hover {
	opacity: 0.8;
}

.login-button:active {
	opacity: 0.5;
}

button:hover {
  background-color: #218838;
}