<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 115vh;
            margin: 0;
            background-color:rgb(46, 46, 46)
        }

        #container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 1125px;
        }

        h1 {
            text-align: center;
            font-size: 24px;
            color: #333;
        }

        div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solrm #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solrm #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td button {
            padding: 5px 10px;
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        td button:hover {
            background-color: #c82333;
        }

        #divDados {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>Cadastro de SUB</h1>
        
        <div>
            <label for="txtIJogo">Nome Aluno</label>
            <input type="text" id="txtIJogo">
        </div>
        
        <div>
            <label for="txtNomeJogo">RM do Jogo</label>
            <input type="text" id="txtNomeJogo">
        </div>
        
        <div>
            <label for="txtPrecoJogo">Preço do Jogo</label>
            <input type="text" id="txtPrecoJogo">
        </div>
        
        <div>
            <label for="txtDataJogo">Data da prova perdida</label>
            <input type="text" id="txtDataJogo">
        </div>
        
        <div>
            <label for="txtMetacriticJogo">Professor</label>
            <input type="text" id="txtMetacriticJogo">
        </div>
        
        <div>
            <label for="txtNjogadoresJogo">Matéria</label>
            <input type="text" id="txtNjogadoresJogo">
        </div>
        
        <div>
            <label for="cboEstados">Justificativa</label>
            <select id="cboEstados"></select>
        </div>

        <div>
            <label for="txtFiltro">Filtro</label>
            <input type="text" id="txtFiltro">
        </div>
        
        <div>
            <button id="btnCadastrar">Cadastrar SUB</button>
        </div>
        
        <div id="divDados"></div>
    </div>
</body>
<script>
    let JSON_GENEROS = {};
    let JSON_ESTADOS = {};
    let JSON_JOGOS = {};
    const dadosLocalStorage = localStorage.getItem("dados");
    const objUsuario = JSON.parse(dadosLocalStorage);

    const divDados = document.getElementById("divDados");
    const txtFiltro = document.getElementById("txtFiltro");
    const txtIAluno = document.getElementById("txtIAluno");
    const txtNomeAluno = document.getElementById("txtNomeAluno");
    const txtProfessorAluno = document.getElementById("txtProfessorAluno");
    const txtDataProva = document.getElementById("txtDataProva");
    const txtMateriaAluno = document.getElementById("txtMateriaAluno");
    const txtJustificativaAluno = document.getElementById("txtJustificativaAluno");
    const btnCadastrar = document.getElementById("btnCadastrar");

    // Evento de filtro para buscar alunos
    txtFiltro.onkeyup = function () {
        construirTabela(JSON_JOGOS, txtFiltro.value);
    }

    // Criação da tabela
    const tabela = document.createElement("table");
    divDados.appendChild(tabela);
    
    const linhaCabecalho = document.createElement("tr");
    const thRM = document.createElement("th");
    const thNome = document.createElement("th");
    const thData = document.createElement("th");
    const thMateria = document.createElement("th");
    const thNjogadores = document.createElement("th");
    const thJustificativa = document.createElement("th");
    const thGenero = document.createElement("th");
    const thEstado = document.createElement("th");
    const thExcluir = document.createElement("th");
    const thSelecionar = document.createElement("th");
    const thAtualizar = document.createElement("th");

    // Cabeçalhos da tabela
    thNome.appendChild(document.createTextNode("Nome do Aluno"));
    thData.appendChild(document.createTextNode("Data"));
    thMateria.appendChild(document.createTextNode("Materia"));
    thNjogadores.appendChild(document.createTextNode("Professor"));
    thJustificativa.appendChild(document.createTextNode("Justificativa"));
    thGenero.appendChild(document.createTextNode("RM"));
    thExcluir.appendChild(document.createTextNode("Excluir"));
    thSelecionar.appendChild(document.createTextNode("Selecionar"));
    thAtualizar.appendChild(document.createTextNode("Atualizar"));

    // Adiciona cabeçalhos à linha
    linhaCabecalho.appendChild(thRM);
    linhaCabecalho.appendChild(thNome);
    linhaCabecalho.appendChild(thProfessor);
    linhaCabecalho.appendChild(thData);
    linhaCabecalho.appendChild(thMateria);
    linhaCabecalho.appendChild(thNjogadores);
    linhaCabecalho.appendChild(thJustificativa);
    linhaCabecalho.appendChild(thGenero);
    linhaCabecalho.appendChild(thEstado);
    linhaCabecalho.appendChild(thExcluir);
    linhaCabecalho.appendChild(thSelecionar);
    linhaCabecalho.appendChild(thAtualizar);
    tabela.appendChild(linhaCabecalho);

    get_alunos();
    get_generos();
    get_estados();

    btnCadastrar.onclick = function () {
        post_alunos();
    }

    function limparTabela() {
        var qtdLinas = 1;
        var totalLinhas = tabela.rows.length;
        for (let i = qtdLinas; i < totalLinhas; i++) {
            tabela.deleteRow(qtdLinas);
        }

    }
    function delete_aluno(rmAluno) {
        const URI = "http://localhost:5050/aluno/" + rmAluno;
        console.log(URI);
        fetch(URI, {
            method: "DELETE",
            headers: {

                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            console.log(respostaConvertrma);
            get_alunos();
        }).catch(erro => {
            console.log(erro);
        })
    }

    function construirTabela(JSON_JOGOS, filtro) {
        limparTabela();
        for (let aluno of JSON_JOGOS) {
            let nomeAluno = aluno.nomeAluno.toLowerCase();
            filtro = filtro.toLowerCase();
            if (!nomeAluno.includes(filtro)) {
                continue;
            }
            const linha = document.createElement("tr");

            const btnExcluir = document.createElement("button");
            btnExcluir.appendChild(document.createTextNode("Excluir"));
            btnExcluir.onclick = function () {
                const rmAluno = aluno.rmAluno;
                delete_aluno(rmAluno);
            }

            const btnSelecionar = document.createElement("button");
            btnSelecionar.appendChild(document.createTextNode("Selecionar"));
            btnSelecionar.onclick = function () {
                const obj = aluno;
                selecionarAluno(obj);
            }

            const btnAtualizar = document.createElement("button");
            btnAtualizar.appendChild(document.createTextNode("Atualizar"));
            btnAtualizar.onclick = function () {
                update_aluno();
            }

            const tdRM = document.createElement("td");
            const tdNome = document.createElement("td");
            const tdProfessor = document.createElement("td");
            const tdData = document.createElement("td");
            const tdMateria = document.createElement("td");
            const tdJustificativa = document.createElement("td");
            const tdExcluir = document.createElement("td");
            const tdSelecionar = document.createElement("td");
            const tdAtualizar = document.createElement("td");

            tdRM.appendChild(document.createTextNode(aluno.rmAluno));
            tdNome.appendChild(document.createTextNode(aluno.nomeAluno));
            tdProfessor.appendChild(document.createTextNode(aluno.professorAluno));
            tdData.appendChild(document.createTextNode(aluno.dataProva));
            tdMateria.appendChild(document.createTextNode(aluno.materiaAluno));
            tdJustificativa.appendChild(document.createTextNode(aluno.justificativaAluno));
            tdExcluir.appendChild(btnExcluir);
            tdSelecionar.appendChild(btnSelecionar);
            tdAtualizar.appendChild(btnAtualizar);

            linha.appendChild(tdRM);
            linha.appendChild(tdNome);
            linha.appendChild(tdProfessor);
            linha.appendChild(tdData);
            linha.appendChild(tdMateria);
            linha.appendChild(tdJustificativa);
            linha.appendChild(tdExcluir);
            linha.appendChild(tdSelecionar);
            linha.appendChild(tdAtualizar);
            tabela.appendChild(linha);
        }
    }
    function get_alunos() {
        const URI = "http://localhost:5050/aluno";
        console.log(URI);
        fetch(URI, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            JSON_JOGOS = JSON.parse(respostaConvertrma);
            JSON_JOGOS = JSON_JOGOS.alunos;
            construirTabela(JSON_JOGOS, '');
        }).catch(erro => {
            console.log(erro);
        })
    }

    function update_aluno() {

        const rm = txtIAluno.value;
        const nomeAluno = txtNomeAluno.value;
        const professorAluno = txtProfessorAluno.value;
        const dataProva = txtDataProva.value;
        const materiaAluno = txtMateriaAluno.value;
        const justificativaAluno = txtJustificativaAluno.value;
        const rmGenero = cboGeneros.value;
        const rmEstado = cboEstados.value;

        const corpo = {
            "aluno": {
                "nomeAluno": nomeAluno,
                "professorAluno": professorAluno,
                "dataProva": dataProva,
                "materiaAluno": materiaAluno,
                "justificativaAluno": justificativaAluno,
                "genero_rmGenero": rmGenero,
                "estado_rmEstado": rmEstado
            }
        };

        if(nomeAluno==""){
            alert("o nome não pode ser vazio");
            return;
        }

        const URI = "http://localhost:5050/aluno/"+rm;
        fetch(URI, {
            method: "PUT",
            body: JSON.stringify(corpo),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            console.log(respostaConvertrma);
            get_alunos();
            const objResposta = JSON.parse(respostaConvertrma);
            if (objResposta.status == false) {
                alert(objResposta.msg);
            }

        }).catch(erro => {
            console.log(erro);
        });
    }

    function get_generos() {
        const URI = "http://localhost:5050/genero/"
        console.log(URI);
        fetch(URI, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            //console.log(respostaConvertrma);
            JSON_GENEROS = JSON.parse(respostaConvertrma);
            JSON_GENEROS = JSON_GENEROS.generos;
            montarCombo1();
        }).catch(erro => {
            console.log(erro);
        });
    }

    function selecionarAluno(aluno) {
        document.getElementById("txtIAluno").value = aluno.rmAluno || "";
        document.getElementById("txtNomeAluno").value = aluno.nomeAluno || "";
        document.getElementById("txtProfessorAluno").value = aluno.professorAluno || ""; 
        document.getElementById("txtDataProva").value = aluno.dataProva || "";
        document.getElementById("txtMateriaAluno").value = aluno.materiaAluno || "";
        document.getElementById("txtJustificativaAluno").value = aluno.justificativaAluno || "";

        document.getElementById("cboGeneros").value = aluno.rmGenero || "";
        document.getElementById("cboEstados").value = aluno.rmEstado || "";
    }

    function get_estados() {
        const URI = "http://localhost:5050/estado/"
        console.log(URI);
        fetch(URI, {
            method: "GET",
            headers: {
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            //console.log(respostaConvertrma);
            JSON_ESTADOS = JSON.parse(respostaConvertrma);
            JSON_ESTADOS = JSON_ESTADOS.estados;
            montarCombo2();
        }).catch(erro => {
            console.log(erro);
        });
    }


    function put_alunos(rmAluno,nomeAluno) {
        const URI = "http://localhost:5050/aluno/" + rmAluno;
        if (nomeAluno == "") {
            alert("o nome do aluno não pode ser vazio");
            return;
        }

        const objAluno = {
            aluno: {
                nomeAluno: nomeAluno
            }
        }

        fetch(URI, {
            method: "PUT",
            body: JSON.stringify(objAluno),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            const obj = JSON.parse(respostaConvertrma);
            if (obj.status == true) {
                get_alunos();
            }
            console.log(respostaConvertrma);
        }).catch(erro => {
            console.log(erro);
        })

    }

    function montarCombo1() {
        for (let genero of JSON_GENEROS) {
            const nomeGenero = genero.nomeGenero;
            const rmGenero = genero.rmGenero;
            const option = document.createElement("option");
            option.value = rmGenero;
            option.text = nomeGenero;
            cboGeneros.appendChild(option);
        }
    }

    function montarCombo2() {
        for (let estado of JSON_ESTADOS) {
            const nomeEstado = estado.nomeEstado;
            const rmEstado = estado.rmEstado;
            const option = document.createElement("option");
            option.value = rmEstado;
            option.text = nomeEstado;
            cboEstados.appendChild(option);
        }
    }

    function post_alunos() {
        const URI = "http://localhost:5050/aluno/";
        console.log(URI);

        const rm = txtIAluno.value;
        const nomeAluno = txtNomeAluno.value;
        const professorAluno = txtProfessorAluno.value;
        const dataProva = txtDataProva.value;
        const materiaAluno = txtMateriaAluno.value;
        const justificativaAluno = txtJustificativaAluno.value;
        const rmGenero = cboGeneros.value;
        const rmEstado = cboEstados.value;

        if (!nomeAluno || !professorAluno || !dataProva || !materiaAluno || !justificativaAluno || !rmGenero || !rmEstado) {
            alert("Por favor, preencha todos os campos.");
            return;
        }

        const corpo = {
            "aluno":{
                "nomeAluno": nomeAluno,
                "professorAluno": professorAluno,
                "dataProva": dataProva,
                "materiaAluno": materiaAluno,
                "justificativaAluno": justificativaAluno,
                "genero_rmGenero": rmGenero,
                "estado_rmEstado": rmEstado,
            }
        };
        console.log(corpo);

        fetch(URI, {
            method: "POST",
            body: JSON.stringify(corpo),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertrma => {
            console.log(respostaConvertrma);
            get_alunos();
            const objResposta = JSON.parse(respostaConvertrma);
            if (objResposta.status == false) {
                alert(objResposta.msg);
            }

        }).catch(erro => {
            console.log(erro);
        });
    }

    function delete_aluno(rmAluno) {
        const URI = "http://localhost:5050/aluno/" + rmAluno;
        console.log(URI);
        fetch(URI, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            console.log(respostaConvertida);
            get_alunos();
        }).catch(erro => {
            console.log(erro);
        })
    }

</script>

</html>