<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Aluno</title>
  <link rel="stylesheet" href="CSS/alunos.css">    
</head>

<body>
  <div class="faixa-topo">
    <div class="univap-logo">
      <img src="Imagens/Univap[Negativo].png" alt="Logo Univap" />
    </div>
    <div class="faixa-base"></div>
  </div>

  <div id="container">
    <h1>Cadastro de Aluno</h1>
    
    <div class="form-container">
      <div class="caixas-texto">
        <div class="nome-container">
          <div class="text-nome">Nome do Aluno</div>
          <input type="text" id="txtNomeAluno">
        </div>
      </div>
      
      <div class="caixas-texto">
        <div class="matricula-container">
          <div class="text-matricula">Matrícula do Aluno</div>
          <input type="text" id="txtMatriculaAluno">
        </div>
      </div>
      
      <div class="caixas-texto">
        <div class="turma-container">
          <div class="text-turma">Turma do Aluno</div>
          <input type="text" id="txtTurmaAluno">
        </div>
      </div>
      
      <div class="caixas-texto">
        <div class="filtro-container">
          <div class="text-filtro">Filtro</div>
          <input type="text" id="txtFiltro" placeholder="Digite para filtrar...">
        </div>
      </div>
    </div>
    
    <div class="button-container">
      <button id="btnCadastrar" class="enviar-button">Cadastrar Aluno</button>
    </div>
    
    <div id="divDados"></div>

  <script>
    let JSON_ALUNOS = {};
    const dadosLocalStorage = localStorage.getItem("dados");
    const objUsuario = JSON.parse(dadosLocalStorage);

    const divDados = document.getElementById("divDados");
    const txtNome = document.getElementById("txtNomeAluno");
    const txtMatricula = document.getElementById("txtMatriculaAluno");
    const txtTurma = document.getElementById("txtTurmaAluno");
    const txtFiltro = document.getElementById("txtFiltro");
    txtFiltro.onkeyup = function () {
      construirTabela(JSON_ALUNOS, txtFiltro.value);
    }
    const btnCadastrar = document.getElementById("btnCadastrar");

    const tabela = document.createElement("table");

    divDados.appendChild(tabela);
    const linha1 = document.createElement("tr");
    const td0 = document.createElement("th");
    const td1 = document.createElement("th");
    const td2 = document.createElement("th");
    const td3 = document.createElement("th");
    const td4 = document.createElement("th");
    const td5 = document.createElement("th");
    td0.appendChild(document.createTextNode("NOME DO ALUNO"));
    td1.appendChild(document.createTextNode("MATRICULA DO ALUNO"));
    td2.appendChild(document.createTextNode("TURMA DO ALUNO"));
    td3.appendChild(document.createTextNode("EXCLUIR"));
    td4.appendChild(document.createTextNode("Selecionar"));
    td5.appendChild(document.createTextNode("Atualizar"));
    linha1.appendChild(td0);
    linha1.appendChild(td1);
    linha1.appendChild(td2);
    linha1.appendChild(td3);
    linha1.appendChild(td4);
    linha1.appendChild(td5);

    get_alunos();

    btnCadastrar.onclick = function () {
      post_alunos();
    }

    function limparTabela() {
      var qtdLinas = 1;
      var totalLinhas = tabela.rows.length;
      for (let i = qtdLinas; i < totalLinhas; i++) {
        tabela.deleteRow(qtdLinas);
      }
    }

    function delete_aluno(matriculaAluno) {
      const URI = "http://localhost:5050/aluno/" + matriculaAluno;
      fetch(URI, {
        method: "DELETE",
        headers: {
          'Authorization': 'Bearer ' + objUsuario.token
        }
      }).then((resposta) => {
        return resposta.text();
      }).then(respostaConvertida => {
        get_alunos();
      }).catch(erro => {
        console.log(erro);
      })
    }

    function construirTabela(objJson, filtro) {
      limparTabela();

      if (!objJson || !Array.isArray(objJson.aluno)) {
        console.warn("Dados inválidos recebidos para construirTabela:", objJson);
        return;
      }

      const alunos = objJson.aluno;

      tabela.appendChild(linha1);

      for (let aluno of alunos) {
        let nomeAluno = aluno.nomeAluno.toLowerCase();
        filtro = filtro.toLowerCase();
        if (!nomeAluno.includes(filtro)) {
          continue;
        }

        const linha = document.createElement("tr");

        const txtAlterarNome = document.createElement("input");
        txtAlterarNome.type = 'text';
        txtAlterarNome.value = aluno.nomeAluno;
        txtAlterarNome.disabled = true;
        txtAlterarNome.id = "nomeAluno_" + aluno.matriculaAluno;   // id único
        txtAlterarNome.name = "nomeAluno";                         // ou um name genérico

        const txtAlterarTurma = document.createElement("input");
        txtAlterarTurma.type = 'text';
        txtAlterarTurma.value = aluno.turmaAluno;
        txtAlterarTurma.disabled = true;
        txtAlterarTurma.id = "turmaAluno_" + aluno.matriculaAluno;   // id único
        txtAlterarTurma.name = "turmaAluno";                         // ou um name genérico

        const btnExcluir = document.createElement("button");
        btnExcluir.textContent = "Excluir";
        btnExcluir.onclick = () => delete_aluno(aluno.matriculaAluno);

        const btnSelecionar = document.createElement("button");
        btnSelecionar.textContent = "Selecionar";
        btnSelecionar.onclick = () => { txtAlterarNome.disabled = false; txtAlterarTurma.disabled = false; }

        const btnAtualizar = document.createElement("button");
        btnAtualizar.textContent = "Atualizar";
        btnAtualizar.onclick = () => {
          const nomeAluno = txtAlterarNome.value;
          const turmaAluno = txtAlterarTurma.value;
          txtAlterarNome.disabled = true;
          txtAlterarTurma.disabled = true;
          put_alunos(aluno.matriculaAluno, nomeAluno, turmaAluno);
        };

        const td0 = document.createElement("td");
        const td1 = document.createElement("td");
        const td2 = document.createElement("td");
        const td3 = document.createElement("td");
        const td4 = document.createElement("td");
        const td5 = document.createElement("td");

  
        td0.appendChild(txtAlterarNome);
        td1.textContent = aluno.matriculaAluno;
        td2.appendChild(txtAlterarTurma);
        td3.appendChild(btnExcluir);
        td4.appendChild(btnSelecionar);
        td5.appendChild(btnAtualizar);

        linha.appendChild(td0);
        linha.appendChild(td1);
        linha.appendChild(td2);
        linha.appendChild(td3);
        linha.appendChild(td4);
        linha.appendChild(td5);

        tabela.appendChild(linha);
      }
    }

    function get_alunos() {
      const URI = "http://localhost:5050/aluno";
      fetch(URI, {
        method: "GET",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + objUsuario.token
        }
      }).then((resposta) => {
        return resposta.text();
      }).then(respostaConvertida => {
        JSON_ALUNOS = JSON.parse(respostaConvertida);
        console.log("Resposta dos alunos:", respostaConvertida);
        construirTabela(JSON_ALUNOS, '')
      }).catch(erro => {
        console.log(erro);
      })
    }

    function put_alunos(matriculaAluno, nomeAluno, turmaAluno) {
      const URI = "http://localhost:5050/aluno/" + matriculaAluno;
      if (!nomeAluno) {
        alert("O nome do aluno não pode ser vazio");
        return;
      }

      const objAluno = { aluno: { nomeAluno: nomeAluno, turmaAluno: turmaAluno } };

      fetch(URI, {
        method: "PUT",
        body: JSON.stringify(objAluno),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + objUsuario.token
        }
      }).then((resposta) => {
        return resposta.text();
      }).then(respostaConvertida => {
        const obj = JSON.parse(respostaConvertida);
        if (obj.status == true) {
          get_alunos();
        }
      }).catch(erro => {
        console.log(erro);
      })
    }

    function post_alunos() {
      const URI = "http://localhost:5050/aluno";
      const nomeAluno = txtNome.value;
      const matriculaAluno = txtMatricula.value;
      const turmaAluno = txtTurma.value;

      if (!nomeAluno) {
        alert("O nome do aluno não pode ser vazio");
        return;
      }

      const corpo = {
        "aluno": {
          "nomeAluno": nomeAluno,
          "matriculaAluno": matriculaAluno,
          "turmaAluno": turmaAluno
        }
      };

      console.log(corpo); 
      
      fetch(URI, {
        method: "POST",
        body: JSON.stringify(corpo),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + objUsuario.token
        }
      }).then((resposta) => {
        return resposta.text();
      }).then(respostaConvertida => {
        get_alunos();
        const objResposta = JSON.parse(respostaConvertida);
        if (objResposta.status == false) {
          alert(objResposta.msg);
        }
      }).catch(erro => {
        console.log(erro);
      });
    }
  </script>
</body>
</html>
