<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login de Matrícula</title>
    <link rel="stylesheet" href="CSS/confirmar.css">
</head>

<body>

  <div class="faixa-topo"></div>

  <div class="conteudo-central">
    <div class="univap-logo">
      <img src="Imagens/Univap[Color][FundoClaro].png" alt="Logo Univap">
    </div>

    <div class="matricula-barra">
      <input type="text" id="matricula" placeholder="Digite sua matrícula">
    </div>

    <div class="red-button">
      <button class="entrar-button" onclick="verificarMatricula()">ENTRAR</button>
    </div>
  </div>

<div class="faixa-base"></div>

<script>
  function verificarMatricula() {
  const matricula = document.getElementById("matricula").value.trim();

  const matriculaValida = /^[0-9]{8}$/.test(matricula) && matricula.startsWith("50");
    if (matriculaValida) {
      // Redireciona para a próxima tela (substitua pelo endereço correto)
      window.location.href = "requirimento.html"; 
    } else {
      alert("Matrícula inválida. Verifique o número digitado.");
    }
  }
</script>

</body>
</html>