<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 115vh;
            margin: 0;
        }

        #container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 1125px;
        }

        h1 {
            text-align: center;
            font-size: 24px;
            color: #333;
        }

        div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td button {
            padding: 5px 10px;
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        td button:hover {
            background-color: #c82333;
        }

        #divDados {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>Cadastro de Disciplina</h1>
        
        <div>
            <label for="txtNomeDisciplina">Nome da Disciplina</label>
            <input type="text" id="txtNomeDisciplina">
        </div>
        
        <div>
            <label for="cboTurma">Turma da disciplina</label>
            <select id="cboTurma"></select>
        </div>

        <div>
            <label for="cboProfessor">Professor da Disciplina</label>
            <select id="cboProfessor"></select>
        </div>
        
        <div>
            <label for="txtFiltro">Filtro</label>
            <input type="text" id="txtFiltro">
        </div>
        
        <div>
            <button id="btnCadastrar">Cadastrar Disciplina</button>
        </div>
        
        <div id="divDados"></div>
    </div>
</body>
<script>
    let JSON_PROFESSORES = {};
    let JSON_TURMAS = {};
    let JSON_DISCIPLINAS = {};
    const dadosLocalStorage = localStorage.getItem("dados");
    const objUsuario = JSON.parse(dadosLocalStorage);

    const divDados = document.getElementById("divDados");
    const txtFiltro = document.getElementById("txtFiltro");
    const txtNomeDisciplina = document.getElementById("txtNomeDisciplina");
    const cboProfessor = document.getElementById("cboProfessor");
    const cboTurma = document.getElementById("cboTurma");
    const btnCadastrar = document.getElementById("btnCadastrar");

    // Evento de filtro para buscar disciplinas
    txtFiltro.onkeyup = function () {
        construirTabela(JSON_DISCIPLINAS, txtFiltro.value);
    }

    // Criação da tabela
    const tabela = document.createElement("table");
    divDados.appendChild(tabela);
    
    const linhaCabecalho = document.createElement("tr");
    const thNome = document.createElement("th");
    const thTurma = document.createElement("th");
    const thProfessor= document.createElement("th");
    const thExcluir = document.createElement("th");
    const thSelecionar = document.createElement("th");
    const thAtualizar = document.createElement("th");

    // Cabeçalhos da tabela
    thNome.appendChild(document.createTextNode("Nome da Disciplina"));
    thTurma.appendChild(document.createTextNode("Turma da Disciplina"));
    thProfessor.appendChild(document.createTextNode("Professor da Disciplina"));
    thExcluir.appendChild(document.createTextNode("Excluir"));
    thSelecionar.appendChild(document.createTextNode("Selecionar"));
    thAtualizar.appendChild(document.createTextNode("Atualizar"));

    // Adiciona cabeçalhos à linha
    linhaCabecalho.appendChild(thNome);
    linhaCabecalho.appendChild(thTurma);
    linhaCabecalho.appendChild(thProfessor);
    linhaCabecalho.appendChild(thExcluir);
    linhaCabecalho.appendChild(thSelecionar);
    linhaCabecalho.appendChild(thAtualizar);
    tabela.appendChild(linhaCabecalho);

    get_disciplinas();
    get_professors();
    get_turmas();

    btnCadastrar.onclick = function () {
        post_disciplinas();
    }

    function limparTabela() {
        var qtdLinas = 1;
        var totalLinhas = tabela.rows.length;
        for (let i = qtdLinas; i < totalLinhas; i++) {
            tabela.deleteRow(qtdLinas);
        }

    }
    function delete_disciplina(idDisciplina) {
        const URI = "http://localhost:5050/disciplina/" + idDisciplina;
        console.log(URI);
        fetch(URI, {
            method: "DELETE",
            headers: {

                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            console.log(respostaConvertida);
            get_disciplinas();
        }).catch(erro => {
            console.log(erro);
        })
    }

    function construirTabela(JSON_DISCIPLINAS, filtro) {
        limparTabela();
        for (let disciplina of JSON_DISCIPLINAS) {
            let nomeDisciplina = disciplina.nomeDisciplina.toLowerCase();
            filtro = filtro.toLowerCase();
            if (!nomeDisciplina.includes(filtro)) {
                continue;
            }
            const linha = document.createElement("tr");

            const btnExcluir = document.createElement("button");
            btnExcluir.appendChild(document.createTextNode("Excluir"));
            btnExcluir.onclick = function () {
                const idDisciplina = disciplina.idDisciplina;
                delete_disciplina(idDisciplina);
            }

            const btnSelecionar = document.createElement("button");
            btnSelecionar.appendChild(document.createTextNode("Selecionar"));
            btnSelecionar.onclick = function () {
                const obj = disciplina;
                selecionarDisciplina(obj);
            }

            const btnAtualizar = document.createElement("button");
            btnAtualizar.appendChild(document.createTextNode("Atualizar"));
            btnAtualizar.onclick = function () {
                update_disciplina();
            }

            const tdNome = document.createElement("td");
            const tdProfessor = document.createElement("td");
            const tdExcluir = document.createElement("td");
            const tdSelecionar = document.createElement("td");
            const tdAtualizar = document.createElement("td");

            tdNome.appendChild(document.createTextNode(disciplina.nomeDisciplina));
            tdProfessor.appendChild(document.createTextNode(disciplina.nomeProfessor));
            tdExcluir.appendChild(btnExcluir);
            tdSelecionar.appendChild(btnSelecionar);
            tdAtualizar.appendChild(btnAtualizar);

            linha.appendChild(tdNome);
            linha.appendChild(tdProfessor);
            linha.appendChild(tdExcluir);
            linha.appendChild(tdSelecionar);
            linha.appendChild(tdAtualizar);
            tabela.appendChild(linha);
        }
    }
    function get_disciplinas() {
        const URI = "http://localhost:5050/disciplina";
        console.log(URI);
        fetch(URI, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            JSON_DISCIPLINAS = JSON.parse(respostaConvertida);
            JSON_DISCIPLINAS = JSON_DISCIPLINAS.disciplinas;
            construirTabela(JSON_DISCIPLINAS, '');
        }).catch(erro => {
            console.log(erro);
        })
    }

    function update_disciplina() {

        const nomeDisciplina = txtNomeDisciplina.value;
        const idProfessor = cboProfessor.value;
        const idTurma = cboTurma.value;

        const corpo = {
            "disciplina": {
                "nomeDisciplina": nomeDisciplina,
                "professor_idProfessor": idProfessor,
                "turma_idTurma": idTurma,
            }
        };

        if(nomeDisciplina==""){
            alert("o nome não pode ser vazio");
            return;
        }

        const URI = "http://localhost:5050/disciplina/"+id;
        fetch(URI, {
            method: "PUT",
            body: JSON.stringify(corpo),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            console.log(respostaConvertida);
            get_disciplinas();
            const objResposta = JSON.parse(respostaConvertida);
            if (objResposta.status == false) {
                alert(objResposta.msg);
            }

        }).catch(erro => {
            console.log(erro);
        });
    }

    function get_professors() {
        const URI = "http://localhost:5050/professor/"
        console.log(URI);
        fetch(URI, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            //console.log(respostaConvertida);
            JSON_PROFESSORES = JSON.parse(respostaConvertida);
            JSON_PROFESSORES = JSON_PROFESSORES.professors;
            montarCombo1();
        }).catch(erro => {
            console.log(erro);
        });
    }

    function selecionarDisciplina(disciplina) {
        document.getElementById("txtIDisciplina").value = disciplina.idDisciplina || "";
        document.getElementById("txtNomeDisciplina").value = disciplina.nomeDisciplina || "";
        document.getElementById("cboProfessor").value = disciplina.idProfessor || "";
        document.getElementById("cboTurma").value = disciplina.idTurma || "";
    }

    function put_disciplinas(idDisciplina,nomeDisciplina) {
        const URI = "http://localhost:5050/disciplina/" + idDisciplina;
        if (nomeDisciplina == "") {
            alert("o nome do disciplina não pode ser vazio");
            return;
        }

        const objDisciplina = {
            disciplina: {
                nomeDisciplina: nomeDisciplina
            }
        }

        fetch(URI, {
            method: "PUT",
            body: JSON.stringify(objDisciplina),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            const obj = JSON.parse(respostaConvertida);
            if (obj.status == true) {
                get_disciplinas();
            }
            console.log(respostaConvertida);
        }).catch(erro => {
            console.log(erro);
        })

    }

    function montarCombo1() {
        for (let professor of JSON_PROFESSORES) {
            const nomeProfessor = professor.nomeProfessor;
            const idProfessor = professor.idProfessor;
            const option = document.createElement("option");
            option.value = idProfessor;
            option.text = nomeProfessor;
            cboProfessor.appendChild(option);
        }
    }

    function montarCombo2() {
        for (let turma of JSON_TURMAS) {
            const nomeTurma = turma.nomeTurma;
            const idTurma = turma.idTurma;
            const option = document.createElement("option");
            option.value = idTurma;
            option.text = nomeTurma;
            cboProfessor.appendChild(option);
        }
    }

    function post_disciplinas() {
        const URI = "http://localhost:5050/disciplina/";
        console.log(URI);

        const nomeDisciplina = txtNomeDisciplina.value;
        const idProfessor = cboProfessor.value;
        const idTurma = cboTurma.value;

        if (!nomeDisciplina || !idProfessor) {
            alert("Por favor, preencha todos os campos.");
            return;
        }

        const corpo = {
            "disciplina":{
                "nomeDisciplina": nomeDisciplina,
                "professor_idProfessor": idProfessor,
            }
        };
        console.log(corpo);

        fetch(URI, {
            method: "POST",
            body: JSON.stringify(corpo),
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            console.log(respostaConvertida);
            get_disciplinas();
            const objResposta = JSON.parse(respostaConvertida);
            if (objResposta.status == false) {
                alert(objResposta.msg);
            }

        }).catch(erro => {
            console.log(erro);
        });
    }

    function delete_disciplina(idDisciplina) {
        const URI = "http://localhost:5050/disciplina/" + idDisciplina;
        console.log(URI);
        fetch(URI, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + objUsuario.token
            }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            console.log(respostaConvertida);
            get_disciplinas();
        }).catch(erro => {
            console.log(erro);
        })
    }

</script>
</html>