<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Professor</title>
  <link rel="stylesheet" href="CSS/professor.css">
</head>

<body>
  <div class="faixa-topo">
    <div class="univap-logo">
      <img src="Imagens/Univap[Negativo].png" alt="Logo Univap" />
    </div>
    <div class="faixa-base"></div>
  </div>

  <div id="container">
    <h1>Cadastro de Professor</h1>
    <div class="form-container">
      <div class="caixas-texto">
        <div class="nome-container">
          <label for="txtNomeProfessor">Nome do Professor</label>
          <input type="text" id="txtNomeProfessor">
        </div>
      </div>

      <div class="caixas-texto">
        <div class="filtro-container">
          <label for="txtFiltro">Filtro</label>
          <input type="text" id="txtFiltro" placeholder="Digite para filtrar...">
        </div>
      </div>
    </div>
        
    <div class="button-container">
      <button id="btnCadastrar" class="enviar-button">Cadastrar Professor</button>
    </div>
        
    <div id="divDados"></div>

  <script>

    let JSON_PROFESSORES = {};
    const dadosLocalStorage = localStorage.getItem("dados");
    const objUsuario = JSON.parse(dadosLocalStorage);

    const divDados = document.getElementById("divDados");
    const txtProfessor = document.getElementById("txtNomeProfessor");
    const txtFiltro = document.getElementById("txtFiltro");

    txtFiltro.onkeyup = function () {
        construirTabela(JSON_PROFESSORES, txtFiltro.value);
    }
    const btnCadastrar = document.getElementById("btnCadastrar");

    const tabela = document.createElement("table");

    divDados.appendChild(tabela);
    const linha1 = document.createElement("tr");
    const td0 = document.createElement("th");
    const td1 = document.createElement("th");
    const td2 = document.createElement("th");
    const td3 = document.createElement("th");
    const td4 = document.createElement("th");
    td0.appendChild(document.createTextNode("ID"));
    td1.appendChild(document.createTextNode("NOME DO PROFESSOR"));
    td2.appendChild(document.createTextNode("EXCLUIR"));
    td3.appendChild(document.createTextNode("Selecionar"));
    td4.appendChild(document.createTextNode("Atualizar"));
    linha1.appendChild(td0);
    linha1.appendChild(td1);
    linha1.appendChild(td2);
    linha1.appendChild(td3);
    linha1.appendChild(td4);

    get_professors();

    btnCadastrar.onclick = function () {
      post_professors();
    }

    function limparTabela() {
      var qtdLinas = 1;
      var totalLinhas = tabela.rows.length;
      for (let i = qtdLinas; i < totalLinhas; i++) {
        tabela.deleteRow(qtdLinas);
      }
    }

    function delete_professor(idProfessor) {
      const URI = "http://localhost:5050/professor/" + idProfessor;
      fetch(URI, {
        method: "DELETE",
        headers: {
          'Authorization': 'Bearer ' + objUsuario.token
      }
      }).then((resposta) => {
        return resposta.text();
      }).then(respostaConvertida => {
        get_professors();
      }).catch(erro => {
        console.log(erro);
      })
    }

    function construirTabela(objJson, filtro) {
      limparTabela();

      const professors = objJson.professors;
        tabela.appendChild(linha1);
        for (let professor of professors) {

        let nomeProfessor = professor.nomeProfessor.toLowerCase();
        filtro = filtro.toLowerCase();
        if (!nomeProfessor.includes(filtro)) {
          continue;
        }

        const linha = document.createElement("tr");
        const btnExcluir = document.createElement("button");
        btnExcluir.appendChild(document.createTextNode("Excluir"));
        btnExcluir.onclick = function () {
            delete_professor(professor.idProfessor);
        }

        const txtAlterar = document.createElement("input");
        txtAlterar.type = 'text';
        txtAlterar.value = professor.nomeProfessor;
        txtAlterar.disabled = true;

        const btnSelecionar = document.createElement("button");
        btnSelecionar.appendChild(document.createTextNode("Selecionar"));
        btnSelecionar.onclick = function () {
            txtAlterar.disabled = false;
        }

        const btnAtualizar = document.createElement("button");
        btnAtualizar.appendChild(document.createTextNode("Atualizar"));
        btnAtualizar.onclick = function () {
            const nomeProfessor = txtAlterar.value;
            txtAlterar.disabled = true;
            put_professors(professor.idProfessor, nomeProfessor);
        }

        const td0 = document.createElement("td");
        const td1 = document.createElement("td");
        const td2 = document.createElement("td");
        const td3 = document.createElement("td");
        const td4 = document.createElement("td");

        td0.appendChild(document.createTextNode(professor.idProfessor));
        td1.appendChild(txtAlterar);
        td2.appendChild(btnExcluir);
        td3.appendChild(btnSelecionar);
        td4.appendChild(btnAtualizar);

        linha.appendChild(td0);
        linha.appendChild(td1);
        linha.appendChild(td2);
        linha.appendChild(td3);
        linha.appendChild(td4);
        tabela.appendChild(linha);
      }
    }

    function get_professors() {
      const URI = "http://localhost:5050/professor";
      fetch(URI, {
        method: "GET",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + objUsuario.token
        }
        }).then((resposta) => {
          return resposta.text();
        }).then(respostaConvertida => {
          JSON_PROFESSORES = JSON.parse(respostaConvertida);
          construirTabela(JSON_PROFESSORES, '')
        }).catch(erro => {
            console.log(erro);
        })
      }

    function put_professors(idProfessor, nomeProfessor) {
      const URI = "http://localhost:5050/professor/" + idProfessor;
      if (!nomeProfessor) {
        alert("O nome do professor não pode ser vazio");
        return;
      }

      const objProfessor = { professor: { nomeProfessor: nomeProfessor } };

        fetch(URI, {
        method: "PUT",
        body: JSON.stringify(objProfessor),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + objUsuario.token
        }

        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
          const obj = JSON.parse(respostaConvertida);
        if (obj.status == true) {
          get_professors();
        }
      }).catch(erro => {
        console.log(erro);
      })
    } 

    function post_professors() {
      const URI = "http://localhost:5050/professor";
      const nomeProfessor = txtProfessor.value;
      if (!nomeProfessor) {
        alert("O nome do professor não pode ser vazio");
        return;
      }

      const objProfessor = { professor: { nomeProfessor: nomeProfessor } };

      fetch(URI, {
        method: "POST",
        body: JSON.stringify(objProfessor),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + objUsuario.token
        }
        }).then((resposta) => {
            return resposta.text();
        }).then(respostaConvertida => {
            const obj = JSON.parse(respostaConvertida);
            if (obj.status == true) {
              get_professors();
              console.log("Enviando para o servidor:", JSON.stringify(objProfessor));
            }
        }).catch(erro => {
          console.log(erro);
        })
      }
  </script>
</body>
</html>
